.img-fluid{ 
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

#contactUs-content{
    text-align: start;
    padding-left: 4rem;
}

#contactUs-content div{
   margin-bottom: 0.5rem;
}

#contactUs-content div{
   padding-bottom: 0.5rem;
}
