.carousel-container {
    padding: 0rem;
    background-color: rgba(0, 0, 0, 0.058);

}
.home-image{
    object-fit: cover;
    height: 600px;
    width: 100%;
}



.text-container{
    width: 100rem;
    height: 37.4rem;
    position: absolute;
    top: 6.4rem;
    left: 0rem;
    background-color: #00000080;
}



.animate__backInDown{
    width: 100%;
    color: #ffff;
    font-weight: bold;
    animation-duration: 2s;
    position: absolute;
    top: 10.5rem;
    left: 6rem;
    font-size: 71px;
    font-family: monospace;
}

.animate__backInLeft{
    width: 100%;
    color: #ffff;
    font-weight: bold;
    animation-duration: 2s;
    position: absolute;
    top: 16.5rem;
    left: 11.5rem;
    font-size: 18px;
    font-family:  sans-serif;
}

.animate__backInUp{
    width: 11.5%;
    height: 6.8%;
    border: 1px solid #f00000;
    background-color: #000000;
    color: #ffff;
    position: absolute;
    top: 20rem;
    left: 20rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cashewImage-slide {
    object-position: top;
    background-color: black;

}

.animate__fadeInUp {
    height: 3rem;
    width: 16%;
    border-radius: 30px;
    border: 0.5px solid #f00000;
    color: #f07705;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    background: #000000;
}

.animate__fadeInUp:hover {
    background-color: #f07705;
    color: #ffff;
    border: 0.5px solid #000000;
    background: rgb(2, 0, 36);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.home-tittle{
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0rem 2.5rem 0rem;
    background-color: #ffffff98;
    font-family: 'Courier New', Courier, monospace;
}











@media screen and (max-width:567px) {
    .carousel .carousel-item {
        height: 180px;
        width: 100%;
    }

}