.home-container {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
  
}
.carousel-images{
    height:auto;
    width: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    opacity: 50%;
}
.homeImage-style{
    height: 550px;
    max-width: 630px;
    object-fit: cover;
    background-repeat: repeat;
}
.homeText-content-col{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeImage-content-col2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.animate__backInDown {
    width: 100%;
    max-width: 100%;
    color:#ffff;
    font-weight: bold;
    animation-duration: 2s;
    font-size: clamp(0.6rem, 1rem + 5vw, 5rem);
    font-family: sans-serif;
    text-shadow: 2px 2px 2px #000000;
}

.animate__backInLeft {
    width: auto;
    color:#ffff;
    text-shadow: 1px 1px 1px #000000;
    font-weight: bold;
    animation-duration: 2s;
    font-size: clamp(0.6rem, 1rem + 4vw, 18px);
    font-family: sans-serif;
}

 .btn-outline-dark{
    height: 6vh;
    min-width: 20%;
    margin-left: 10px;
    border: 1px solid #000000;
    border-radius: 0px;
    outline: none;
    background: transparent;
    color:#000000;
    background-color: #ffff;
    font-weight: 700;
    padding: 0 2px;
    font-size: clamp(0.6rem, 1rem + 5vw, 1.3rem);
    transition: 0.1s linear;
}


 .btn-outline-dark:hover{
    border: 1px solid #f07705;
    box-shadow: 2px  2px #f07705;
    color: #f07705;
    background-color: #000000;
}

@media only screen and (max-width:320px){
    .home-container {
        padding: 0%;
    }
    .carousel-indicators {
        margin-bottom: 0rem;
    }
    .carousel-caption{
        padding-bottom: 0rem;
    }
    .animate__backInDown{
        font-size: clamp(0.6rem, 1rem + 5vw, 1.5rem);
    }
    .animate__backInLeft{
        font-size: clamp(0.6rem, 1rem + 4vw, 8px);
    }
}

@media  screen and (min-width:320px) and (max-width:425px){
    .home-container {
        padding: 0%;
    }
    .carousel-indicators {
        margin-bottom: 0rem;
    }
    .carousel-caption{
        padding-bottom: 0rem;
    }
    .animate__backInDown{
        font-size: clamp(0.6rem, 1rem + 5vw, 1.5rem);
    }
    .animate__backInLeft{
        font-size: clamp(0.6rem, 1rem + 4vw, 8px);
    }
    .btn-outline-dark{
       height: 2rem;
       padding: 0px 20px 0px 20px;
       border: none;
       background-color: #000000;
       border-radius: 40px 0px;
       color: #ffff;
       box-shadow: -1px 2px 2.5px rgba(0, 0, 0, .15), 0 0 14px rgba(0, 0, 0, .02), 0 0 1px rgba(0, 0, 0, .1);

    }
}
@media  screen and (min-width:425px) and (max-width:500px){
    .home-container {
        padding: 0%;
    }
    .carousel-indicators {
        margin-bottom: 0.2rem;
    }
    .carousel-caption{
        padding-bottom: 0.3rem;
    }
    .btn-outline-dark{
        height: 2rem;
     }
    .animate__backInDown{
        font-size: clamp(0.6rem, 1rem + 5vw, 2.5rem);
    }
    .animate__backInLeft{
        font-size: clamp(0.6rem, 1rem + 4vw, 12px);
    }
}