.nav-bar-container {
    height: 14vh;
    width: 100%;
    position: sticky;
    top: 0px;
    overflow-x: hidden;
    z-index: 3;
}

.notification-bar {
    height: 40%;
    width: 100%;
    background-color: #000000;
    color: rgb(246, 117, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
}


.menu-list {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #000000;
    box-shadow: 3px rgb(79, 79, 79);
    position: sticky;
    top: 0px;
    /* overflow-x: hidden; */
    background-color: #fff;
}

.logo-container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-left: 3%;
    font-weight: bold;
    text-decoration: none;
    color: green;

}

.nav-links {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-right: 5rem;
}

ul {
    margin-bottom: 0%;
}

.nav-link {
    height: 7.8vh;
    width: 10rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    height: 7.8vh;
    width: 10rem;
    cursor: pointer;
    color: rgb(246, 117, 5);
    background-color: #000000;
    border-bottom: 1px solid rgb(250, 9, 9);
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: aliceblue;
}

@media screen and (max-width:1280px) {
    .nav-bar-container {
        height: auto;
        width: 100%;
    }

    .notification-bar {
        display: none;
        height: 45%;
        width: 100%;
        background-color: #2a431c;
        color: #EEEE;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-weight: bold;
        position: absolute;
        top: 45px;
        left: -107%;
    }

    .nav-links.active {
        width: 100%;
        left: 0%;
        z-index: 2;
        position: absolute;
        padding-left: 0%;
    }

    .nav-links li {
        height: 23%;
        width: 100%;
        /* background-image: linear-gradient(to right, #20A4F3,#182B3A); */
        border-top: 1px solid #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-icon {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
        color: aliceblue;
        margin-right: 3%;
    }

    .menu-list {
        display: flex;
        padding-right: 5%;
    }

}