.nav-bar-container {
    height: 8.5vh;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 3;
    box-sizing: border-box;
    border-bottom: 0.5px solid #ffa500;
}

.menu-list {
    height: 8.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 2px 2.5px rgba(0, 0, 0, .15), 0 0 14px rgba(0, 0, 0, .02), 0 0 1px rgba(0, 0, 0, .1);
    position: sticky;
    top: 0px;
    background-color: #000000;
}

.logo-container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-left: 3%;
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}
.logo-container:hover{
    color: #ff8c00;
}

.nav-links {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-right: 5rem;
    color:#fff;
    
}

ul {
    margin-bottom: 0%;
}

.nav-link {
    height: 7.8vh;
    width: 10rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}
.nav-links-active{
    display: none;
}
.nav-link:hover {
    height: 7.7vh;
    width: 10rem;
    cursor: pointer;
    color: #f07705;
    background: #000000;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: aliceblue;
}



 @media screen and (max-width:1024px) { 
    .nav-bar-container{
        height: 8vh;
    }
    .menu-icon {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
        color: aliceblue;
        margin:2rem;
    }
    .menu-list {
        height: 8vh;
       
    }
    .nav-links { 
        display: none; 
    }
    .nav-link {
        height: 80%;
        width: 20rem;
        cursor: pointer;
        color: #f07705;
        background: #000000;
        margin: 1rem;
        border-top:  1px solid green;
        border-radius: 40px 40px ;
        box-shadow: -1px 1px 1px  rgba(230, 4, 4, 0.838), 0 0 14px rgba(0, 0, 0, 0.778), 0 0 1px rgba(0, 0, 0, .1);
    }
    
    .nav-links-active{
        display: flex;
        width: 100%;
        min-width: 5rem;
        position: absolute;
        top: 100%;
        height: 22rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0%;
        list-style: none;
        background-color: #000000;
        border: 1px solid #f07705;
    }
} 

@media screen and (min-width:1024px) {
    .nav-link{
        display: flex;
    }
}