.nav-bar-container {
    height: 8.3vh;
    width: 100%;
    position: sticky;
    top: 0px;
    overflow-x: hidden;
    z-index: 3;
    box-sizing: border-box;
    border-bottom: 0.5px solid #ffa500;

}

.menu-list {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow:-1px 2px 2.5px rgba(0,0,0,.15), 0 0 14px rgba(0,0,0,.02), 0 0 1px rgba(0,0,0,.1) ;
    position: sticky;
    top: 0px;
    background-color: #000000;
}

.logo-container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-left: 3%;
    font-weight: bold;
    text-decoration: none;
    color: #ffd700;

}

.nav-links {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-right: 5rem;
}

ul {
    margin-bottom: 0%;
}

.nav-link {
    height: 7.8vh;
    width: 10rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.nav-link:hover {
    height: 7.7vh;
    width: 10rem;
    cursor: pointer;
    color: #f07705;
    background: #000000;
    /* box-shadow: -1px 2px 2.5px rgba(0, 0, 0, .15), 0 0 14px rgba(0, 0, 0, .02), 0 0 1px rgba(0, 0, 0, .1); */
}
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: aliceblue;
}

@media screen and (max-width:1280px) {
    .nav-bar-container {
        height: auto;
        width: 100%;
    }

    .notification-bar {
        display: none;
        height: 45%;
        width: 100%;
        background-color: #2a431c;
        color: #EEEE;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-weight: bold;
        position: absolute;
        top: 45px;
        left: -107%;
    }

    .nav-links.active {
        width: 100%;
        left: 0%;
        z-index: 2;
        position: absolute;
        padding-left: 0%;
    }

    .nav-links li {
        height: 23%;
        width: 100%;
        border-top: 1px solid #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-icon {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
        color: aliceblue;
        margin-right: 3%;
    }

    .menu-list {
        display: flex;
        padding-right: 5%;
    }

}